<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duruo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.duruo.po.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, password, dept_id
  </sql>

  <resultMap id="ResultMap" type="com.duruo.po.UserPo">
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="office_phone" property="officePhone" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Column_List">
        user_id, user_name, password, dept_id, sex, office_phone, phone, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.duruo.po.UserPo" >
    insert into user (user_id, user_name, password, 
      dept_id, sex, office_phone, phone, remark)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{officePhone,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR} )
  </insert>
  <insert id="insertSelective" parameterType="com.duruo.po.UserPo" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="officePhone != null" >
        office_phone,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null" >
        office_phone = #{officePhone,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duruo.po.UserPo" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null" >
        office_phone = #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duruo.po.UserPo" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      office_phone = #{officePhone,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectLogin" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM  USER
    where user_name  = #{userName,jdbcType=VARCHAR}
    and password =  #{userPassword,jdbcType=VARCHAR}
  </select>
  <select id="checkUsername" parameterType="map" resultType="int">
    SELECT
    COUNT(1)
    from user
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" parameterType="com.duruo.po.UserPo" resultMap="ResultMap">
    SELECT
    <include refid="Column_List"/>
    FROM USER
    <where>
      <if test="userName != null and userName != '' ">
        user_name LIKE "%"#{userName,jdbcType=VARCHAR}"%"
      </if>
      <!--<if test="sex != null">-->
        <!--AND = #{sex,jdbcType=VARCHAR}"%"-->
      <!--</if>-->
      <if test="deptId != null and deptId != ''">
        AND dept_id = #{deptId,jdbcType=INTEGER},
      </if>
    </where>
  </select>
  <update id="updatePassword" parameterType="map">
    update user
    set  password = #{newPassword,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>