@charset "utf-8";

html,body {overflow-x: hidden; /* Prevent scroll on narrow devices */}
body{font-family:"Hiragino Sans GB","Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei",Arial,sans-serif;padding-top: 70px;}

.mask_layer{position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:9998;background:#000;opacity:.6;filter:alpha(opacity=40)}

.btn .caret {margin-left: 5px;}