<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duruo.dao.QchuangMapper" >
  <resultMap id="BaseResultMap" type="com.duruo.po.Qchuang" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="household_reg" property="householdReg" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="agency_code" property="agencyCode" jdbcType="VARCHAR" />
    <result column="reg_date" property="regDate" jdbcType="TIMESTAMP" />
    <result column="contact_number" property="contactNumber" jdbcType="VARCHAR" />
    <result column="person_bank" property="personBank" jdbcType="VARCHAR" />
    <result column="person_bankid" property="personBankid" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="business_address" property="businessAddress" jdbcType="VARCHAR" />
    <result column="reg_capital" property="regCapital" jdbcType="VARCHAR" />
    <result column="reg_scope" property="regScope" jdbcType="VARCHAR" />
    <result column="opinion" property="opinion" jdbcType="VARCHAR" />
    <result column="ssb_address" property="ssbAddress" jdbcType="VARCHAR" />
    <result column="signature_address" property="signatureAddress" jdbcType="VARCHAR" />
    <result column="idcard_address" property="idcardAddress" jdbcType="VARCHAR" />
    <result column="bank_address" property="bankAddress" jdbcType="VARCHAR" />
    <result column="appleform_address" property="appleformAddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, person_name, id_card, household_reg, company_name, agency_code, reg_date, contact_number, 
    person_bank, person_bankid, create_date, business_address, reg_capital, reg_scope, 
    opinion, ssb_address, signature_address, idcard_address, bank_address, appleform_address, 
    status, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qingnianchuangye
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from qingnianchuangye
    where id = #{id,}
  </delete>
  <insert id="insert" parameterType="com.duruo.po.Qchuang" >
    replace INTO qingnianchuangye (id, person_name, id_card,
      household_reg, company_name, agency_code,
      reg_date, contact_number, person_bank, 
      person_bankid, create_date, business_address, 
      reg_capital, reg_scope, opinion, 
      ssb_address, signature_address, idcard_address, 
      bank_address, appleform_address, status, 
      is_delete)
    values (#{id}, #{personName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{householdReg,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{agencyCode,jdbcType=VARCHAR}, 
      #{regDate,jdbcType=TIMESTAMP}, #{contactNumber,jdbcType=VARCHAR}, #{personBank,jdbcType=VARCHAR}, 
      #{personBankid,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{businessAddress,jdbcType=VARCHAR}, 
      #{regCapital,jdbcType=VARCHAR}, #{regScope,jdbcType=VARCHAR}, #{opinion,jdbcType=VARCHAR}, 
      #{ssbAddress,jdbcType=VARCHAR}, #{signatureAddress,jdbcType=VARCHAR}, #{idcardAddress,jdbcType=VARCHAR}, 
      #{bankAddress,jdbcType=VARCHAR}, #{appleformAddress,jdbcType=VARCHAR}, #{status}, 
      #{isDelete})
  </insert>
  <insert id="insertSelective" parameterType="com.duruo.po.Qchuang" >
    insert into qingnianchuangye
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="personName != null" >
        person_name,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="householdReg != null" >
        household_reg,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="agencyCode != null" >
        agency_code,
      </if>
      <if test="regDate != null" >
        reg_date,
      </if>
      <if test="contactNumber != null" >
        contact_number,
      </if>
      <if test="personBank != null" >
        person_bank,
      </if>
      <if test="personBankid != null" >
        person_bankid,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="businessAddress != null" >
        business_address,
      </if>
      <if test="regCapital != null" >
        reg_capital,
      </if>
      <if test="regScope != null" >
        reg_scope,
      </if>
      <if test="opinion != null" >
        opinion,
      </if>
      <if test="ssbAddress != null" >
        ssb_address,
      </if>
      <if test="signatureAddress != null" >
        signature_address,
      </if>
      <if test="idcardAddress != null" >
        idcard_address,
      </if>
      <if test="bankAddress != null" >
        bank_address,
      </if>
      <if test="appleformAddress != null" >
        appleform_address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="householdReg != null" >
        #{householdReg,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="agencyCode != null" >
        #{agencyCode,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null" >
        #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contactNumber != null" >
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="personBank != null" >
        #{personBank,jdbcType=VARCHAR},
      </if>
      <if test="personBankid != null" >
        #{personBankid,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="businessAddress != null" >
        #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null" >
        #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="regScope != null" >
        #{regScope,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null" >
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="ssbAddress != null" >
        #{ssbAddress,jdbcType=VARCHAR},
      </if>
      <if test="signatureAddress != null" >
        #{signatureAddress,jdbcType=VARCHAR},
      </if>
      <if test="idcardAddress != null" >
        #{idcardAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null" >
        #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="appleformAddress != null" >
        #{appleformAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duruo.po.Qchuang" >
    update qingnianchuangye
    <set >
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="householdReg != null" >
        household_reg = #{householdReg,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="agencyCode != null" >
        agency_code = #{agencyCode,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null" >
        reg_date = #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contactNumber != null" >
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="personBank != null" >
        person_bank = #{personBank,jdbcType=VARCHAR},
      </if>
      <if test="personBankid != null" >
        person_bankid = #{personBankid,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="businessAddress != null" >
        business_address = #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null" >
        reg_capital = #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="regScope != null" >
        reg_scope = #{regScope,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null" >
        opinion = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="ssbAddress != null" >
        ssb_address = #{ssbAddress,jdbcType=VARCHAR},
      </if>
      <if test="signatureAddress != null" >
        signature_address = #{signatureAddress,jdbcType=VARCHAR},
      </if>
      <if test="idcardAddress != null" >
        idcard_address = #{idcardAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null" >
        bank_address = #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="appleformAddress != null" >
        appleform_address = #{appleformAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duruo.po.Qchuang" >
    update qingnianchuangye
    set person_name = #{personName,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      household_reg = #{householdReg,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      agency_code = #{agencyCode,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=TIMESTAMP},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      person_bank = #{personBank,jdbcType=VARCHAR},
      person_bankid = #{personBankid,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      business_address = #{businessAddress,jdbcType=VARCHAR},
      reg_capital = #{regCapital,jdbcType=VARCHAR},
      reg_scope = #{regScope,jdbcType=VARCHAR},
      opinion = #{opinion,jdbcType=VARCHAR},
      ssb_address = #{ssbAddress,jdbcType=VARCHAR},
      signature_address = #{signatureAddress,jdbcType=VARCHAR},
      idcard_address = #{idcardAddress,jdbcType=VARCHAR},
      bank_address = #{bankAddress,jdbcType=VARCHAR},
      appleform_address = #{appleformAddress,jdbcType=VARCHAR},
      status = #{status},
      is_delete = #{isDelete}
    where id = #{id}
  </update>
  <select id="selectByIdcard" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM qingnianchuangye
    WHERE id_card = #{idCard,jdbcType=VARCHAR}
    order by create_date DESC LIMIT 1
  </select>
  <select id="list" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM qingnianchuangye
    <where>
      and status =1
      <if test="startTime !=null and startTime !='' ">
        <![CDATA[ AND create_date >= #{startTime}]]>
      </if>
      <if test="endTime !=null and endTime !='' ">
        <![CDATA[ and create_date <= #{endTime}]]>
      </if>
    </where>
    order by create_date desc
  </select>
  <select id="donelist" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM qingnianchuangye
    <where>
      and status =0
      <if test="startTime !=null and startTime !='' ">
        <![CDATA[ AND create_date >= #{startTime}]]>
      </if>
      <if test="endTime !=null and endTime !='' ">
        <![CDATA[ and create_date <= #{endTime}]]>
      </if>
    </where>
    order by create_date desc
  </select>
  <select id="selectByUniScId" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM qingnianchuangye
    WHERE agency_code=#{uniScId}
  </select>
  <select id="selectByCompanyName" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM qingnianchuangye
    WHERE company_name = #{companyName}
  </select>
</mapper>