<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--打印到卡特琳娜out文件下-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="Artificial" class="ch.qos.logback.core.rolling.RollingFileAppender">


        <File>/usr/tomcat/tomcat/logs/Artificial.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/tomcat/tomcatBeta/logs/Artificial.log</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
    </appender>


    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/usr/tomcat/tomcat/logs/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/tomcat/tomcatBeta/logs/error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.duruo" additivity="false" level="INFO" >
        <appender-ref ref="Artificial" />
        <appender-ref ref="console"/>
    </logger>



    <!--  mybatis log 日志 -->

    <logger name="com.duruo.dao" level="DEBUG"/>

    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" >
        <appender-ref ref="console"/>
    </logger>

    <logger name="java.sql.Connection" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="java.sql.Statement" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>

    <logger name="java.sql.PreparedStatement" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>


    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
    </root>

</configuration>




<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration scan="true" scanPeriod="60 seconds" debug="false">-->
    <!--&lt;!&ndash;打印到卡特琳娜out文件下&ndash;&gt;-->
    <!--<appender name="console" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoding>UTF-8</encoding>-->
        <!--<encoder>-->
            <!--<pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>DEBUG</level>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--<appender name="mbcrmsys" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--&lt;!&ndash;<File>d:/hmalllog/hmall.log</File>&ndash;&gt;-->
        <!--<File>F:/JAVA/apache-tomcat-7.0.78/logs/duruo.log</File>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>F:/JAVA/apache-tomcat-7.0.78/logs/duruo.log.%d{yyyy-MM-dd}.gz</fileNamePattern>-->
            <!--<append>true</append>-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->


    <!--<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--&lt;!&ndash;<File>d:/hmalllog/error.log</File>&ndash;&gt;-->
        <!--<File>F:/JAVA/apache-tomcat-7.0.78/logs/error.log</File>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>F:/JAVA/apache-tomcat-7.0.78/logs/duruoerror.log.%d{yyyy-MM-dd}.gz</fileNamePattern>-->
            <!--&lt;!&ndash;<fileNamePattern>d:/mbcrmsys/error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>&ndash;&gt;-->
            <!--<append>true</append>-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>ERROR</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--<logger name="com.duruo" additivity="false" level="INFO" >-->
        <!--<appender-ref ref="duruo" />-->
        <!--<appender-ref ref="console"/>-->
    <!--</logger>-->



    <!--&lt;!&ndash; geelynote mybatis log 日志 &ndash;&gt;-->

    <!--<logger name="com.duruo.dao" level="DEBUG"/>-->

    <!--<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" >-->
        <!--<appender-ref ref="console"/>-->
    <!--</logger>-->

    <!--<logger name="java.sql.Connection" level="DEBUG">-->
        <!--<appender-ref ref="console"/>-->
    <!--</logger>-->
    <!--<logger name="java.sql.Statement" level="DEBUG">-->
        <!--<appender-ref ref="console"/>-->
    <!--</logger>-->

    <!--<logger name="java.sql.PreparedStatement" level="DEBUG">-->
        <!--<appender-ref ref="console"/>-->
    <!--</logger>-->


    <!--<root level="DEBUG">-->
        <!--<appender-ref ref="console"/>-->
        <!--<appender-ref ref="error"/>-->
    <!--</root>-->

<!--</configuration>-->