<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duruo.dao.AuditTempDataMapper" >
  <resultMap id="BaseResultMap" type="com.duruo.po.AuditTempData" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="enterpriseid" property="enterpriseid" jdbcType="VARCHAR" />
    <result column="enterprisename" property="enterprisename" jdbcType="VARCHAR" />
    <result column="projectname" property="projectname" jdbcType="VARCHAR" />
    <result column="projectid" property="projectid" jdbcType="VARCHAR" />
    <result column="technicalfield" property="technicalfield" jdbcType="VARCHAR" />
    <result column="zjpdjg" property="zjpdjg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sn, enterpriseid, enterprisename, projectname, projectid, technicalfield, zjpdjg, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from audit_temp_data
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from audit_temp_data
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.duruo.po.AuditTempData" >
    insert into audit_temp_data (id, sn, enterpriseid, 
      enterprisename, projectname, projectid, 
      technicalfield, zjpdjg, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, #{enterpriseid,jdbcType=VARCHAR}, 
      #{enterprisename,jdbcType=VARCHAR}, #{projectname,jdbcType=VARCHAR}, #{projectid,jdbcType=VARCHAR}, 
      #{technicalfield,jdbcType=VARCHAR}, #{zjpdjg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duruo.po.AuditTempData" >
    insert into audit_temp_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="enterpriseid != null" >
        enterpriseid,
      </if>
      <if test="enterprisename != null" >
        enterprisename,
      </if>
      <if test="projectname != null" >
        projectname,
      </if>
      <if test="projectid != null" >
        projectid,
      </if>
      <if test="technicalfield != null" >
        technicalfield,
      </if>
      <if test="zjpdjg != null" >
        zjpdjg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseid != null" >
        #{enterpriseid,jdbcType=VARCHAR},
      </if>
      <if test="enterprisename != null" >
        #{enterprisename,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null" >
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=VARCHAR},
      </if>
      <if test="technicalfield != null" >
        #{technicalfield,jdbcType=VARCHAR},
      </if>
      <if test="zjpdjg != null" >
        #{zjpdjg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duruo.po.AuditTempData" >
    update audit_temp_data
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseid != null" >
        enterpriseid = #{enterpriseid,jdbcType=VARCHAR},
      </if>
      <if test="enterprisename != null" >
        enterprisename = #{enterprisename,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null" >
        projectname = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null" >
        projectid = #{projectid,jdbcType=VARCHAR},
      </if>
      <if test="technicalfield != null" >
        technicalfield = #{technicalfield,jdbcType=VARCHAR},
      </if>
      <if test="zjpdjg != null" >
        zjpdjg = #{zjpdjg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duruo.po.AuditTempData" >
    update audit_temp_data
    set sn = #{sn,jdbcType=VARCHAR},
      enterpriseid = #{enterpriseid,jdbcType=VARCHAR},
      enterprisename = #{enterprisename,jdbcType=VARCHAR},
      projectname = #{projectname,jdbcType=VARCHAR},
      projectid = #{projectid,jdbcType=VARCHAR},
      technicalfield = #{technicalfield,jdbcType=VARCHAR},
      zjpdjg = #{zjpdjg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="listAll" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List"/>
    FROM audit_temp_data
    <where>
    <if test="realname !=null and realname !='' ">
       and enterprisename like "%"#{realname}"%"
    </if>
    <if test="project !=null and project !='' ">
      and projectname like "%"#{project}"%"
    </if>
    </where>
  </select>
</mapper>