<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duruo.dao.EvidenceFilesMapper">
  <resultMap id="BaseResultMap" type="com.duruo.po.EvidenceFiles">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="license_id" jdbcType="INTEGER" property="licenseId" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="matter_id" jdbcType="INTEGER" property="matterId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="matter_name" jdbcType="VARCHAR" property="matterName" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, license_id,msg_id, matter_id, type, dept_id, path, matter_name, dept_name, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evidence_files
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evidence_files
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.duruo.po.EvidenceFiles">
    insert into evidence_files (id,license_id, msg_id, matter_id,
      type, dept_id, path, 
      matter_name, dept_name, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{licenseId,jdbcType=INTEGER},#{msgId,jdbcType=VARCHAR}, #{matterId,jdbcType=INTEGER},
      #{type,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, 
      #{matterName,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.duruo.po.EvidenceFiles">
    insert into evidence_files
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="licenseId != null">
        license_id,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="matterId != null">
        matter_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="matterName != null">
        matter_name,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="licenseId != null">
        #{licenseId,jdbcType=INTEGER},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null">
        #{matterId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="matterName != null">
        #{matterName,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duruo.po.EvidenceFiles">
    update evidence_files
    <set>
      <if test="licenseId != null">
        #{licenseId,jdbcType=INTEGER},
      </if>
      <if test="msgId != null">
        msg_id = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null">
        matter_id = #{matterId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="matterName != null">
        matter_name = #{matterName,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duruo.po.EvidenceFiles">
    update evidence_files
    set
      license_id = #{licenseId,jdbcType=INTEGER},
      msg_id = #{msgId,jdbcType=VARCHAR},
      matter_id = #{matterId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      matter_name = #{matterName,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listEvidenceFiles" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM evidence_files
    WHERE dept_id = #{deptId,jdbcType=VARCHAR}
    group by msg_id
  </select>
  <select id="listEvidenceFileDetail" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM evidence_files
    WHERE license_id = #{licenseId}
  </select>
  <select id="selectByTypeAndLicenseId" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM evidence_files
    WHERE license_id = #{licenseId}
    and type =  #{type,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByLicenseId" parameterType="java.lang.Integer" >
    delete from evidence_files
    WHERE license_id = #{licenseId}
  </delete>

  <delete id="deleteByLicenseIdAndType" parameterType="java.lang.String">
    DELETE FROM evidence_files
    WHERE license_id = #{licenseId,jdbcType=VARCHAR}
    and type =  #{type,jdbcType=VARCHAR}
  </delete>

  <select id="selectByTypeAndmsgId" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM evidence_files
    WHERE msg_id = #{msgId}
    and `type` =  #{type,jdbcType=VARCHAR}
    and matter_name =  #{matterName,jdbcType=VARCHAR}
    order by create_time DESC LIMIT 1
  </select>
  <select id="selByTypeAndmsgId" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM evidence_files
    WHERE msg_id = #{msgId}
    and `type` like  "%" #{type,jdbcType=VARCHAR}"%"
    order by create_time DESC LIMIT 1
  </select>
  <select id="listByMsgId" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM evidence_files
    WHERE msg_id = #{msgId}
  </select>
</mapper>