<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duruo.dao.ProjectBudgetMapper" >
  <resultMap id="BaseResultMap" type="com.duruo.po.ProjectBudget" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
    <result column="general_budget" property="generalBudget" jdbcType="VARCHAR" />
    <result column="special_funds" property="specialFunds" jdbcType="VARCHAR" />
    <result column="self_financing" property="selfFinancing" jdbcType="VARCHAR" />
    <result column="development_cost" property="developmentCost" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sn, enterprise_id, general_budget, special_funds, self_financing, development_cost
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_budget
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_budget
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.duruo.po.ProjectBudget" >
    insert into project_budget (id, sn, enterprise_id, 
      general_budget, special_funds, self_financing, 
      development_cost)
    values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=VARCHAR}, 
      #{generalBudget,jdbcType=VARCHAR}, #{specialFunds,jdbcType=VARCHAR}, #{selfFinancing,jdbcType=VARCHAR}, 
      #{developmentCost,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duruo.po.ProjectBudget" >
    insert into project_budget
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="generalBudget != null" >
        general_budget,
      </if>
      <if test="specialFunds != null" >
        special_funds,
      </if>
      <if test="selfFinancing != null" >
        self_financing,
      </if>
      <if test="developmentCost != null" >
        development_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="generalBudget != null" >
        #{generalBudget,jdbcType=VARCHAR},
      </if>
      <if test="specialFunds != null" >
        #{specialFunds,jdbcType=VARCHAR},
      </if>
      <if test="selfFinancing != null" >
        #{selfFinancing,jdbcType=VARCHAR},
      </if>
      <if test="developmentCost != null" >
        #{developmentCost,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duruo.po.ProjectBudget" >
    update project_budget
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="generalBudget != null" >
        general_budget = #{generalBudget,jdbcType=VARCHAR},
      </if>
      <if test="specialFunds != null" >
        special_funds = #{specialFunds,jdbcType=VARCHAR},
      </if>
      <if test="selfFinancing != null" >
        self_financing = #{selfFinancing,jdbcType=VARCHAR},
      </if>
      <if test="developmentCost != null" >
        development_cost = #{developmentCost,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duruo.po.ProjectBudget" >
    update project_budget
    set sn = #{sn,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      general_budget = #{generalBudget,jdbcType=VARCHAR},
      special_funds = #{specialFunds,jdbcType=VARCHAR},
      self_financing = #{selfFinancing,jdbcType=VARCHAR},
      development_cost = #{developmentCost,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySN" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT <include refid="Base_Column_List"/>
    FROM project_budget
    WHERE sn = #{sn,jdbcType=VARCHAR}
    GROUP BY sn
  </select>
  <select id="listProjectBudget" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List"/>
    FROM project_budget
    GROUP BY sn
  </select>
</mapper>