<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duruo.dao.ProjectBudgetDetailMapper" >
  <resultMap id="BaseResultMap" type="com.duruo.po.ProjectBudgetDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
    <result column="decompose_detailed" property="decomposeDetailed" jdbcType="VARCHAR" />
    <result column="special_funds" property="specialFunds" jdbcType="VARCHAR" />
    <result column="self_financing" property="selfFinancing" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sn, enterprise_id, decompose_detailed, special_funds, self_financing
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_budget_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_budget_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.duruo.po.ProjectBudgetDetail" >
    insert into project_budget_detail (id, sn, enterprise_id, 
      decompose_detailed, special_funds, self_financing
      )
    values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=VARCHAR}, 
      #{decomposeDetailed,jdbcType=VARCHAR}, #{specialFunds,jdbcType=VARCHAR}, #{selfFinancing,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duruo.po.ProjectBudgetDetail" >
    insert into project_budget_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="decomposeDetailed != null" >
        decompose_detailed,
      </if>
      <if test="specialFunds != null" >
        special_funds,
      </if>
      <if test="selfFinancing != null" >
        self_financing,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="decomposeDetailed != null" >
        #{decomposeDetailed,jdbcType=VARCHAR},
      </if>
      <if test="specialFunds != null" >
        #{specialFunds,jdbcType=VARCHAR},
      </if>
      <if test="selfFinancing != null" >
        #{selfFinancing,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duruo.po.ProjectBudgetDetail" >
    update project_budget_detail
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="decomposeDetailed != null" >
        decompose_detailed = #{decomposeDetailed,jdbcType=VARCHAR},
      </if>
      <if test="specialFunds != null" >
        special_funds = #{specialFunds,jdbcType=VARCHAR},
      </if>
      <if test="selfFinancing != null" >
        self_financing = #{selfFinancing,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duruo.po.ProjectBudgetDetail" >
    update project_budget_detail
    set sn = #{sn,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      decompose_detailed = #{decomposeDetailed,jdbcType=VARCHAR},
      special_funds = #{specialFunds,jdbcType=VARCHAR},
      self_financing = #{selfFinancing,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectListBudgetDtailBySN" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM project_budget_detail
    WHERE sn = #{sn,jdbcType=VARCHAR}
  </select>
</mapper>