<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duruo.dao.ProjectdetailMapper" >
  <resultMap id="BaseResultMap" type="com.duruo.po.Projectdetail" >
    <id column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="technical" property="technical" jdbcType="VARCHAR" />
    <result column="rbeb" property="rbeb" jdbcType="VARCHAR" />
    <result column="trts" property="trts" jdbcType="VARCHAR" />
    <result column="cip" property="cip" jdbcType="VARCHAR" />
    <result column="wbrdc" property="wbrdc" jdbcType="VARCHAR" />
    <result column="schedule" property="schedule" jdbcType="VARCHAR" />
    <result column="ai" property="ai" jdbcType="VARCHAR" />
    <result column="projectnum" property="projectnum" jdbcType="VARCHAR" />
    <result column="audit_opinion" property="auditOpinion" jdbcType="VARCHAR" />
    <result column="shyj2" property="auditOpinion" jdbcType="VARCHAR" />
    <result column="real_sn" property="realSn" jdbcType="VARCHAR" />
    <result column="xmstatuscode" property="xmstatuscode" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="StAuditMap" type="com.duruo.vo.StAuditVo">
        <id column="sn" property="sn" jdbcType="VARCHAR" />
        <result column="enterprise_id" property="creditcode" jdbcType="VARCHAR" />
        <result column="realname" property="realname" jdbcType="VARCHAR" />
        <result column="project" property="project" jdbcType="VARCHAR" />
        <result column="projectnum" property="projectnum" jdbcType="VARCHAR" />
        <result column="technical" property="technical" jdbcType="VARCHAR" />
        <result column="general_budget" property="generalBudget" jdbcType="VARCHAR" />
        <result column="special_funds" property="specialFunds" jdbcType="VARCHAR" />
        <result column="self_financing" property="selfFinancing" jdbcType="VARCHAR" />
        <result column="development_cost" property="developmentCost" jdbcType="VARCHAR" />
        <result column="shyj2" property="shyj2" jdbcType="VARCHAR" />
    </resultMap>
  <sql id="Base_Column_List" >
    sn, enterprise_id, project, technical, rbeb, trts, cip, wbrdc, schedule, ai, projectnum, audit_opinion, shyj2, real_sn, xmstatuscode, id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from projectdetail
    where sn = #{sn,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from projectdetail
    where sn = #{sn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.duruo.po.Projectdetail" >
    insert into projectdetail (sn, enterprise_id, project, 
      technical, rbeb, trts, 
      cip, wbrdc, schedule, 
      ai, audit_opinion)
    values (#{sn,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, 
      #{technical,jdbcType=VARCHAR}, #{rbeb,jdbcType=VARCHAR}, #{trts,jdbcType=VARCHAR}, 
      #{cip,jdbcType=VARCHAR}, #{wbrdc,jdbcType=VARCHAR}, #{schedule,jdbcType=VARCHAR}, 
      #{ai,jdbcType=VARCHAR}, #{auditOpinion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duruo.po.Projectdetail" >
    insert into projectdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sn != null" >
        sn,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="technical != null" >
        technical,
      </if>
      <if test="rbeb != null" >
        rbeb,
      </if>
      <if test="trts != null" >
        trts,
      </if>
      <if test="cip != null" >
        cip,
      </if>
      <if test="wbrdc != null" >
        wbrdc,
      </if>
      <if test="schedule != null" >
        schedule,
      </if>
      <if test="ai != null" >
        ai,
      </if>
      <if test="auditOpinion != null" >
        audit_opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="technical != null" >
        #{technical,jdbcType=VARCHAR},
      </if>
      <if test="rbeb != null" >
        #{rbeb,jdbcType=VARCHAR},
      </if>
      <if test="trts != null" >
        #{trts,jdbcType=VARCHAR},
      </if>
      <if test="cip != null" >
        #{cip,jdbcType=VARCHAR},
      </if>
      <if test="wbrdc != null" >
        #{wbrdc,jdbcType=VARCHAR},
      </if>
      <if test="schedule != null" >
        #{schedule,jdbcType=VARCHAR},
      </if>
      <if test="ai != null" >
        #{ai,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null" >
        #{auditOpinion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duruo.po.Projectdetail" >
    update projectdetail
    <set >
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="technical != null" >
        technical = #{technical,jdbcType=VARCHAR},
      </if>
      <if test="rbeb != null" >
        rbeb = #{rbeb,jdbcType=VARCHAR},
      </if>
      <if test="trts != null" >
        trts = #{trts,jdbcType=VARCHAR},
      </if>
      <if test="cip != null" >
        cip = #{cip,jdbcType=VARCHAR},
      </if>
      <if test="wbrdc != null" >
        wbrdc = #{wbrdc,jdbcType=VARCHAR},
      </if>
      <if test="schedule != null" >
        schedule = #{schedule,jdbcType=VARCHAR},
      </if>
      <if test="ai != null" >
        ai = #{ai,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null" >
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="realSn != null" >
        real_sn = #{realSn,jdbcType=VARCHAR},
      </if>
      <if test="xmstatuscode != null" >
        xmstatuscode = #{xmstatuscode,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where sn = #{sn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duruo.po.Projectdetail" >
    update projectdetail
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR},
      technical = #{technical,jdbcType=VARCHAR},
      rbeb = #{rbeb,jdbcType=VARCHAR},
      trts = #{trts,jdbcType=VARCHAR},
      cip = #{cip,jdbcType=VARCHAR},
      wbrdc = #{wbrdc,jdbcType=VARCHAR},
      schedule = #{schedule,jdbcType=VARCHAR},
      ai = #{ai,jdbcType=VARCHAR},
      audit_opinion = #{auditOpinion,jdbcType=VARCHAR}
    where sn = #{sn,jdbcType=VARCHAR}
  </update>

  <!--<select id="getAllStAuditVo" parameterType="java.lang.String" resultType="com.duruo.vo.StAuditVo">-->
  <select id="getAllStAuditVo" parameterType="java.lang.String" resultMap="StAuditMap">

    select e.creditcode,p.sn,e.realname,p.project,p.projectnum,p.technical,b.general_budget,b.special_funds,b.self_financing,b.development_cost,p.shyj2    from projectdetail p left join enterprise e on p.enterprise_id=e.creditcode left join project_budget b on p.sn=b.sn
    <where>
      <if test="realname !=null and realname !='' ">
        realname LIKE "%"#{realname,jdbcType=VARCHAR}"%"
      </if>
      <if test="project !=null and project != '' ">
        AND project LIKE  "%"#{project,jdbcType=VARCHAR}"%"
      </if>
      and p.xmstatuscode="11"
    </where>
    group by b.sn
  </select>
  <select id="listProjectdetail" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List"/>
    FROM projectdetail
  </select>
  <select id="selectByEnterpriseId" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List"/>
    FROM projectdetail
    WHERE enterprise_id = #{enterpriseId,jdbcType=VARCHAR}
    group by sn
  </select>
</mapper>