<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duruo.dao.RetailLicenseMapper" >
  <resultMap id="BaseResultMap" type="com.duruo.po.RetailLicense" >
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="msg_id" property="msgId" jdbcType="VARCHAR" />
    <result column="matter_id" property="matterId" jdbcType="INTEGER" />
    <result column="matter_name" property="matterName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="opinion" property="opinion" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id,msg_id, matter_id, matter_name, status, create_time, user_name, dept_id, opinion,item_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from retail_license
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from retail_license
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.duruo.po.RetailLicense" >
    insert into retail_license (id,msg_id, matter_id, matter_name,
      status, create_time, user_name, 
      dept_id, opinion,item_type)
    values (#{id,jdbcType=INTEGER},#{msgId,jdbcType=VARCHAR}, #{matterId,jdbcType=INTEGER}, #{matterName,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=INTEGER}, #{opinion,jdbcType=VARCHAR},#{itemType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duruo.po.RetailLicense" >
    insert into retail_license
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="msgId != null" >
        msg_id,
      </if>
      <if test="matterId != null" >
        matter_id,
      </if>
      <if test="matterName != null" >
        matter_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="opinion != null" >
        opinion,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null" >
        #{matterId,jdbcType=INTEGER},
      </if>
      <if test="matterName != null" >
        #{matterName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="opinion != null" >
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        #{item_type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duruo.po.RetailLicense" >
    update retail_license
    <set >
      <if test="matterId != null" >
        matter_id = #{matterId,jdbcType=INTEGER},
      </if>
      <if test="matterName != null" >
        matter_name = #{matterName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="opinion != null" >
        opinion = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duruo.po.RetailLicense" >
    update retail_license
    set matter_id = #{matterId,jdbcType=INTEGER},
      matter_name = #{matterName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      opinion = #{opinion,jdbcType=VARCHAR}
      item_type = #{itemType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="list" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM retail_license
    WHERE dept_id = #{deptId,jdbcType=INTEGER}
    and status = '未审核'
    order by create_time desc
  </select>
  <select id="listDone" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM retail_license
    WHERE dept_id = #{deptId,jdbcType=INTEGER}
    and status  like '已审核%'
    order by create_time desc
  </select>
  <select id="selectByTimeAndMsgId" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM     retail_license
    WHERE msg_id = #{msgId,jdbcType=VARCHAR}
    AND create_time = #{createTime}
  </select>
  <select id="lockByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM retail_license
    WHERE id = #{licenseId}
--     for update
--     悲观锁锁住该条数据
  </select>
  <select id="selectUnDo" resultType="int" parameterType="integer">
    select count(1)
    FROM retail_license
    WHERE dept_id = #{bmId,jdbcType=INTEGER}
    and status = "未审核"
  </select>
  <select id="getRetailLicense" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>
    FROM retail_license
    WHERE id = #{licenseId}
  </select>
</mapper>